---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                    itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
            {%- if page.categories.size > 0 -%}
            • Categories: {{ page.categories | join: ", " }}
            {%- endif -%}
            {%- if page.status -%}
            • Status: <span class="post-status status-{{ page.status }}">{{ page.status | capitalize }}</span>
            {%- endif -%}
        </p>
    </header>

    {%- assign author_id = page.author | default: "codatta_team" -%}
    {%- assign author = site.data.authors[author_id] -%}
    {%- if author -%}
    <div class="author-bio" style="margin-top: 0; margin-bottom: 2rem; background: none; padding: 0;">
        {% if author.avatar %}
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" class="author-avatar"
            style="width: 50px; height: 50px; border-radius: 50%; float: left; margin-right: 15px;">
        {% endif %}
        <div style="overflow: hidden;">
            <h4 style="margin: 0;">{{ author.name }}</h4>
            <p style="margin: 0; font-size: 0.9em; color: #666;">{{ author.bio }}</p>
            <div class="author-social" style="font-size: 0.8em;">
                {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}">Twitter</a>{% endif %}
                {% if author.github %} | <a href="https://github.com/{{ author.github }}">GitHub</a>{% endif %}
                {% if author.linkedin %} | <a href="https://linkedin.com/in/{{ author.linkedin }}">LinkedIn</a>{% endif
                %}
            </div>
        </div>
    </div>
    {%- endif -%}

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <hr>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>